<div class="row">
    <div *ngIf="artist" class="col-md-4">
        <h1>{{artist.name}}</h1>
        <img src="{{artist.images[1].url}}" class="img-responsive img-thumnail" width="100%">
    </div>
    <div class="col-md-8" stlye="padding-top: 2%">
        <!--<ul>
        <li *ngFor="let album of listAlbum">
            <button (click)="getPreviewSongFromAlbum(album.id)">{{album.name}}</button>
        </li>
        </ul>!-->
        <div class="">
            <div class="col-md-5 col-md-offset-1" *ngFor="let album of listAlbum">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="{{album.images[1].url}}" class="img-responsive" width="100%">
                </div>
                <div class="panel-footer"><a routerLink="/album/{{album.id}}">{{album.name}}</a></div>
            </div>
            </div>
        </div>
    </div>
</div>