<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Listado de usuarios</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <center><h1>LISTADO DE PERSONAS</h1></center>
    <center>
        <p>ID: <%= persona.id  %></p>
        <p>NAME: <%= persona.firstname  %></p>
        <p>LASTNAME: <%= persona.lastname  %></p>
    </center>
</body>
</html>