<form class="form-signin" method="POST" action="/users/login">
    {{!-- <h2 class="form-signin-heading">Please sign in</h2> --}}

    {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">
            {{msg}}
        </div>
        {{/each}}
    {{/if}}

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus style="margin-bottom: 2%">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required style="margin-bottom: 2%">

    <br/>
    <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fa fa-user" aria-hidden="true"></i> Login with Couchbase</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</button>
    <button class="btn btn-lg btn-info btn-block" type="submit"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</button>
    <button class="btn btn-lg btn-warning btn-block" type="submit"><i class="fa fa-google-plus" aria-hidden="true"></i> Login with G+</button>
</form>